{
  "presets": ["es2015", "react", "stage-0"],
  "env": {
    // 環境変数のNODE_ENVかBABEL_ENVが設定されていないか、"development"の時のみ
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr", // https://github.com/gaearon/react-transform-hmr
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors", // https://github.com/gaearon/react-transform-catch-errors
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  }
}